extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{data.projects[id].project_name}

        p.lead.text-light
          | #{data.projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each tech in data.projects[id].technologies
            li #{tech}

        a.button.expanded(href=`${data.projects[id].live_link}`) Live Demo
        a.button.expanded(href=`${data.projects[id].github_link}`) GitHub Repo
    
    img.image(src=`${data.projects[id].image_url[0]}`)